.persos {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.persos .perso {
    border: solid;
    border-radius: .3rem;
    cursor: pointer;
    font-size: .9rem;
    margin: 0 5px 5px 0;
    padding: 5px;
    text-align: center;
    width: calc(33% - 5px);
}

.persos .perso:hover .name {
    color: darkorange;
}
