* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: "squarefont";
    position: relative;
    background-color: black;
    color: white;
}
.title {
    color: dodgerblue;
    font-size: 1.3rem;
    margin: 20px 0;
}
.btn {
    align-items: center;
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-radius: .3rem;
    font-size: 1rem;
    cursor: pointer;
    display: inline-flex;
    min-height: 32px;
    justify-content: center;
    padding: 8px;
    margin: 7px 0;
}
.btn:hover {
    color: white;
    background-color: dodgerblue;
}
.clickable {
    cursor: pointer;
}
.f-row, .f-col {
    display: flex;
}
.f-col {
    flex-direction: column;
}
.controls {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    max-width: 640px;
    margin: 20px 0;
    justify-content: space-between;
}
.controls input[type=text] {
    margin-bottom: 10px;
    width: 100%;
}
p {
    box-shadow: -0.9px 0.1px 6.1px 0.2px #696666;
    border-radius: .1rem;
    max-width: 720px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: justify;
}
p:empty {
    display: none;
}
table {
  border-collapse: collapse;
}
td {
  border: 2px solid black;
  height: 42px;
  width: 42px;
  text-align: center;
}
a {
    text-decoration: none;
    color: inherit;
}
input[type=text] {
    box-shadow: 0px 0.1px 2px 0.9px #696666;
    border: none;
    padding: 5px 10px 5px 20px;
    height: 36px;
    font-size: 1rem;
}
#app a {
    font-weight: bold;
    text-shadow: 0px 0px 1px darkorange;
}
a:hover {
    color: darkorange;
}
li {
    list-style: none;
}
#grid_header {
    border-bottom: 2px solid dodgerblue;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    background: gray;
    z-index: 2;
}
#grid_header > .f-row {
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
#grid_nav .list {
    display: flex;
}
#grid_nav .item {
    flex: 1;
}
#app {
    position: relative;
    top: 42px;
    padding: 10px 20px 40px;
    min-height: 50vh;
}
#grid_footer {
    justify-content: flex-end;
    padding: 0 20px;
    position: relative;
    top: 42px;
}

#carrousel{
  width: 600px;
  height: 400px;
  background: white;
  background-repeat: no-repeat;
  display: inline-block;

}

#divCarrousel{
  width: 100vw;
}
#leftarrow, #rightarrow{
  display: inline-block;
  width: 150px;
  height: 400px;
}

#navbar{
  background: gray;
}
